:root {
    --primary-color: rgb(186, 146, 86);
    --secondary-color: rgb(135, 19, 19);
    --bg-clr: rgb(193, 203, 0);
    --tertriary-color: rgb(255, 255, 255);
    --accent-color: rgb(12, 111, 12);
    --primary-font:'Vujahday Script', cursive;
    --secondary-font:'Licorice', cursive;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(0, 0, 0);


}
body h1 {
    color:var(--bg-clr);
    background: linear-gradient(var(--secondary-color),black);
    padding-top: 1vw;
    font-size: 7vw;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    font-family: var(--secondary-font);
    z-index: 1;
    border-bottom: 1px solid rgb(186, 179, 179);
    
}
main {
    padding: 1vw;
    background: linear-gradient(black 50%, var(--secondary-color));
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80%;
    margin-top: -5%;
    font-family: 'Open Sans Condensed', sans-serif;
    grid-row-gap: 1vw;
    grid-column-gap: 1vw;
}
main h2 {
    grid-column: 1 / 13;
    font-size: 20px;
    align-self: end;
    font-size: 5vw;
    text-align: center;
    font-family: var(--primary-font);
    color: var(--accent-color);
}
main #canvas {
    grid-column: 1 / 11;
    grid-row: 2 / 5;
    border: .5vw solid var(--secondary-color);
    z-index: 1;
    opacity: .5;
}
#canvas:hover {
    cursor: pointer;
}
main aside {
    display: flex;
    flex-direction: column;
    grid-column: 11 / 13;
    grid-row: 2 / 5;
    font-size: 4vw;
    text-align: center;
    border: .5vw solid var(--secondary-color);
    color:var(--bg-clr);

}
main #message {
    grid-column: 1 / 13;
    background-color: var(--bg-clr);
    text-align: center;
    align-self: start;
    width: 100%;
    color: var(--secondary-color);
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
#clickcounter {
    color: var(--accent-color);
}

/* Button Styles */
#start-stop {
    margin: 5%;
    padding: 20% 0;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .2vw;
    font-size: 3.5vw;
    color: var(--accent-color);
    background-color: var(--bg-clr);
    border: 2px solid var(--accent-color);
    box-shadow: 0 0  10px black ;
}
#start-stop:hover {
    background-color: var(--accent-color);
    color: var(--bg-color)
}
#start-stop:active {
    color: white;
    box-shadow: none;
}